src/main/mule/mc-lead-prc.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="mc-lead-prc-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mc-lead-prc-config" api="mc-lead-prc.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="mc-lead-prc-main">
        <http:listener config-ref="mc-lead-prc-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mc-lead-prc-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mc-lead-prc-console">
        <http:listener config-ref="mc-lead-prc-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mc-lead-prc-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\leads\(leadId):mc-lead-prc-config">
        <logger level="INFO" doc:name="Start Logger" doc:id="9e67c591-b0ea-47fd-ba2c-437fb1d724a4" message="*******************************************Get /lead triggered*********************************************************"/>
		<ee:transform doc:name="Transform Message" doc:id="e0ea5d2f-36f4-43d8-96aa-88fefc0a6c46">
            <ee:variables>
				<ee:set-variable variableName="url" ><![CDATA[%dw 2.0
output application/json
---
p('prc.url') ++ "/" ++ attributes.uriParams.'leadId']]></ee:set-variable>
				<ee:set-variable variableName="method" ><![CDATA[%dw 2.0
output application/json
---
p('prc.get.method')]]></ee:set-variable>
				<ee:set-variable variableName="headers" ><![CDATA[%dw 2.0
output application/json
---
{
	"Content-Type": p('prc.contentType'),
	"client_secret": p('prc.client_secret'),
    "client_id": p('prc.client_id')
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Reference to commonRequestSub_Flow" doc:id="5e1af424-597e-42bd-94da-18e823c3836d" name="commonRequestSub_Flow"/>
		<ee:transform doc:name="Transform Message" doc:id="f6f3f577-870c-40a7-8de1-9d9c372923fb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="01038f64-60ed-49f9-b0a4-1a7cede1016f" message="*******************************************Get /lead completed*********************************************************" />
    </flow>
    <flow name="post:\leads:application\json:mc-lead-prc-config">
        <logger level="INFO" doc:name="Start Logger" doc:id="0feab2a9-3eec-4f75-8b1b-ae00cb8326a9" message="*******************************************Post /lead triggered*********************************************************" />
		<ee:transform doc:name="Transform Message" doc:id="1c4e90ca-b7f4-48a8-a753-40a1cdb39882">
			<ee:variables>
				<ee:set-variable variableName="url"><![CDATA[%dw 2.0
output application/json
---
p('prc.url')]]></ee:set-variable>
				<ee:set-variable variableName="headers"><![CDATA[%dw 2.0
output application/json
---
{
	"Content-Type": p('prc.contentType'),
	"client_secret": p('prc.client_secret'),
    "client_id": p('prc.client_id')
}]]></ee:set-variable>
				<ee:set-variable variableName="method" ><![CDATA[%dw 2.0
output application/json
---
p('prc.create.method')]]></ee:set-variable>
				<ee:set-variable variableName="requestPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference to commonRequestSub_Flow" doc:id="ebe1a865-d295-421a-963f-b797de9c1f73" name="commonRequestSub_Flow" />
		<ee:transform doc:name="Transform Message" doc:id="aaf35948-6832-4630-8731-0bf755f51266" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="4e024179-5ab6-4bfa-a673-072e8cf2d943" message="*******************************************Post /lead completed*********************************************************" />
    </flow>
</mule>
